.formContainer {
    background-color:gray;
    position:relative;

    width: 500px;
    display: flex;
    flex-wrap: row;
    padding: 150px 10px;
    height: 100vh;
    background-size: contain;
    align-content: flex-end;
    ;
    align-items: flex-end;
    ;
}
 .mainIcon {
    position: absolute;
     left: 3%;
     top: 5%;
    border-radius: 15px;
   font-size: 70px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr, 10);
    width: 30%;
    font-size: 1.3rem;
    margin: 10px;
    order: 1;
}

.inputs h3 {
    grid-column: 1 / 4;
    text-align: center;
}

.inputs label {
    justify-self: left;
    align-self: center;
    grid-column: 1/2;
}

.inputs input {
    width: 10vw;
    height: 5vh;
    margin: 1rem 0;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
  
    grid-column: 2/3;
    color: #1f1f1f;
    font-size: 1.2rem;
    outline: none;
    padding: .5rem;
}

.inputLink {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.errorName,
.errorNumbers {
    border: 1px solid #ff0033;
}

.correctName,
.correctNumber {
    border: 2px solid rgb(136, 255, 11);
}

.errorMessage {
    color: #ff0033;
    position: relative;
    font-size: 16px;
    grid-column: 3/4;
}

.typesContainer {
    position: relative;
    left:-120px;
    top:25%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .1fr 1fr 1fr 1fr;
    width: 60%;
    margin-left: 5%;
    order: 2;
}

.typesContainer h4 {
    color:#0774D9;
    background:rgba(0,0,0,0);
     margin:1%;
    padding: 5px 15px;
    display: inline-block;
    border-radius:23px black solid;
    position:relative;
    font-size:1em;
    cursor:pointer;
    border-radius:3px;   
    
}

.label {
      color:white;
    background:rgba(0,0,0,.1);
     margin:1%;
    padding: 5px 15px;
    display: inline-block;
    position:relative;
    font-size:1em;
    cursor:pointer;
    border-radius:3px;   
}

.label:hover {
 background:black
   
}


.checkbox {
    display: none;
}



.submit {
  position:absolute;
  left: 59%;
  top: 770px;
    background-color: rgb(46, 118, 52);
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 5vh;
    justify-self: center;
    margin: 1rem 0;
    outline: transparent;
    width: 10vw;
    order: 3;
}



@media (max-width: 700px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .inputs {
        order: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95vw;
    }

    .inputs h3 {
        display: none;
    }

    .inputs label {
        display: none;
    }

    .inputs input {
        width: 90vw;
        height: 5vh;
        margin: 10px auto;
    }

    .typesContainer h4 {
        display: none;
       
    }

    .checkbox {
        display: none;
        
    }

    

  

}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}